@import "tailwindcss";

@theme {
    --font-sans: "Geist", sans-serif;

    --color-primary: #0F766E;
    --color-primary-foreground: #ffffff;

    --color-background: #ffffff;
    --color-foreground: #111827;

    --color-muted: #F8FAFC;
    --color-border: #E5E7EB;

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 20px;
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }
}